CompileFlags:
  Add:
    - "-Wno-unused-includes"
    - "-D_CLANGD=1"
    - "-std=c23"
    - "-Imelody"
    - "-Igame"

Diagnostics:
  Suppress: 
    - "unused-includes"
    - "unused-function"
    - "unused-private-field"

---

If:
  PathMatch: "vendor/some-cpp-lib/.*"
CompileFlags:
  Add:
    - "-xc++"

---

If:
  PathMatch: ".*\\.inl"
CompileFlags:
  Add:
    - "-xc"

---

If:
  PathMatch: ".*\\.h"
CompileFlags:
  Add:
    - "-xc"
