CompileFlags:
  Add:
    - "-Wno-unused-includes"
    - "-D_CLANGD=1"

Diagnostics:
  Suppress: 
    - "unused-includes"
    - "unused-function"
    - "unused-private-field"

---

If:
  PathMatch: ".*\\.(c|h|i)"
CompileFlags:
  Add:
    - "-xc"
    - "-std=c23"

---

If:
  PathMatch: ".*\\.(cpp|cc|cxx|cppm|ixx|hpp|hh|hxx|ipp|ii)"
CompileFlags:
  Compiler: /Users/gabbo/clang-p2996/bin/clang++
  Remove:
    - "-std=*"
    - "-xc"
  Add:
    - "-std=c++23"
