CompileFlags:
  Add:
    - "-Wno-unused-includes"
    - "-D_CLANGD=1"
    - "-std=c23"

Diagnostics:
  Suppress: 
    - "unused-includes"
    - "unused-function"
    - "unused-private-field"

---

If:
  PathMatch: "vendor/some-cpp-lib/.*"
CompileFlags:
  Add:
    - "-xc++"

---

If:
  PathMatch: ".*\\.inl"
CompileFlags:
  Add:
    - "-xc"

---

If:
  PathMatch: ".*\\.h"
CompileFlags:
  Add:
    - "-xc"

---

If:
  PathMatch: ".*\\.(cpp|cc|cxx|cppm|ixx|hpp|hh|hxx|ipp)"
CompileFlags:
  Compiler: /Users/gabbo/clang-p2996/bin/clang++
  Remove:
    - "-std=*"
    - "-xc"
  Add:
    - "-std=c++26"
    - "-freflection"
    - "-fexpansion-statements"
    - "-stdlib=libc++"
    - "-isysroot"
    - "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk"
