startup --windows_enable_symlinks

build --enable_runfiles

build --enable_platform_specific_config


build:windows --compiler=clang
build:windows --action_env=BAZEL_VC

startup --output_user_root=C:/_bzl
